{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div>
<main>   
<section>
      <div class="container" id="hello">
      <div class="transaction">
        <h2>Past Transactions</h2>
      </div>
      <div class="date">
        10/12/19
      </div>
      <div class="transactionItem">
        <div class="purchase">
          <div class="location">Walmart</div>
          <div class="amount">54.01</div>
        </div>
        <div class="round">0.99</div>
      </div>
</section>
</main>
</div>

{% endblock %}