{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div>
<main>    
  <!-- Display flash message --> 
  <section>
      <div class="container" id="hello">
        <center>
        <h1>Welcome to Mula!</h1>
        <p>Powering your financial sustainibility</p>
        <div class="login_buttons">
          <!-- <button class="landing_page_option" style="background: url(https://www.paypalobjects.com/webstatic/en_US/developer/docs/login/connectwithpaypalbutton.png) no-repeat">Login with Paypal</button> -->
          <span id='cwppButton'></span>
          <script src='https://www.paypalobjects.com/js/external/connect/api.js'></script>
          <script>
          paypal.use( ['login'], function (login) {
            login.render ({
              "appid":"REPLACE_WITH_YOUR_APPLICATION_ID",
              "scopes":"openid",
              "containerid":"cwppButton",
              "responseType":"code",
              "locale":"en-us",
              "buttonShape":"pill",
              "buttonSize":"lg",
              "fullPage":"true",
              "returnurl":"REPLACE_WITH_YOUR_RETURN_URL"
            });
          });
          </script>
        </div>
        </center>

      </div>     
  </section>

</main>
</div>

{% endblock %}